body{

margin:0;

font-family:'Poppins',sans-serif;

}
nav{

background:#0f172a;

padding:15px;

}
nav ul{

display:flex;

justify-content:center;

gap:40px;

list-style:none;

}
nav a{

color:white;

text-decoration:none;

font-weight:600;

}
nav a:hover{

color:skyblue;

}
nav ul{
    list-style:none;
}
#home{
    text-align:center;
    padding:80px 20px;
}
#home img{
    width:180px;
    height:180px;
    border-radius:50%;
}
.btn{
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:25px;
}
.btn:hover{
    background:#1d4ed8;
}
#about{

padding:60px;

background:var(--light);

}
#about h2{

text-align:center;

color:var(--primary);

font-size:35px;

}
#about p{

font-size:18px;

line-height:1.8;

color:var(--dark);

text-align:justify;

}
#skills{

padding:60px;

background:white;

}
#skills h2{

text-align:center;

color:var(--primary);

font-size:35px;

}
.skills-container{

display:flex;

}
.skills-container{

display:flex;

justify-content:space-around;

}
.skills-container{

display:flex;

justify-content:space-around;

flex-wrap:wrap;

}
.skills-container div{

background:white;

padding:20px;

width:300px;

border-radius:15px;

box-shadow:0 5px 15px gray;

}
.skills-container div:hover{

transform:translateY(-5px);

transition:.3s;

}